<autodartsConfig origin="play.autodarts.io">
  <variables>
    <variable>
      <name>player1_name</name>
      <selector>#ad-ext-player-display > div:nth-of-type(1) .ad-ext-player-name p</selector>
      <mode>text</mode>
    </variable>
    <variable>
      <name>player2_name</name>
      <selector>#ad-ext-player-display > div:nth-of-type(2) .ad-ext-player-name p</selector>
      <mode>text</mode>
    </variable>
    <variable>
      <name>player_active</name>
      <selector>#ad-ext-player-display .ad-ext-player-active .ad-ext-player-name p</selector>
      <mode>text</mode>
    </variable>
    <variable>
      <name>player1_score</name>
      <selector>#ad-ext-player-display > div:nth-of-type(1) .ad-ext-player-score</selector>
      <mode>number</mode>
    </variable>
    <variable>
      <name>player2_score</name>
      <selector>#ad-ext-player-display > div:nth-of-type(2) .ad-ext-player-score</selector>
      <mode>number</mode>
    </variable>
    <variable>
      <name>player1_legs</name>
      <selector>#ad-ext-player-display > div:nth-of-type(1) .css-1k3nd6z span:nth-of-type(1) p</selector>
      <mode>number</mode>
    </variable>
    <variable>
      <name>player1_sets</name>
      <selector>#ad-ext-player-display > div:nth-of-type(1) .css-1k3nd6z span:nth-of-type(2) p</selector>
      <mode>number</mode>
    </variable>
    <variable>
      <name>player2_legs</name>
      <selector>#ad-ext-player-display > div:nth-of-type(2) .css-1k3nd6z span:nth-of-type(1) p</selector>
      <mode>number</mode>
    </variable>
    <variable>
      <name>player2_sets</name>
      <selector>#ad-ext-player-display > div:nth-of-type(2) .css-1k3nd6z span:nth-of-type(2) p</selector>
      <mode>number</mode>
    </variable>
    <variable>
      <name>gamemode</name>
      <selector>#ad-ext-game-variant</selector>
      <mode>text</mode>
    </variable>
  </variables>
</autodartsConfig>
